$(function () {
  if (I18n.locale == "de") {
    w2utils.locale('<%= asset_path('contentmanager/de-de.json') %>')
  }
  w2utils.settings.groupSymbol = " "

  $('#grid').w2layout({
    name: 'relationmanager',
    panels: [
      { type: 'top', size: 59, resizable: true, content: "<div id='menu'></div>",
        title: I18n.t("js.pm.relation_manager.title") + ': &nbsp;  <b>' + product_number + '</b> &nbsp; ' + product_title },
      { type: 'left', size: '20%', resizable: true },
      { type: 'main', resizable: true },
      { type: 'right', size: '38%', resizable: true,
        title: I18n.t("js.pm.Product.other"),
        content: "<div id='productsgrid' style='height: 100%'></div>" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        productsGrid()
        w2ui.productsgrid.load('/productmanager/relation_manager/show_products')
        menu()
        recommendationForm()
      }
    }
  })

  $().w2layout({
    name: 'relations',
    panels: [
      { type: 'top', size: '33%', resizable: true, title: I18n.t("js.pm.Productrelation.other"),
        content: "<div id='productRelationsGrid' style='height:100%;'></div>"},
      { type: 'main', resizable: true, title: I18n.t("js.pm.Recommendation.other"),
        content: "<div id='recommendationsGrid' style='height:100%;'></div>" },
      { type: 'preview', size: '50%', resizable: true, title: I18n.t("js.pm.Supplyrelation.other"),
        content: "<div id='supplyRelationsGrid' style='height:100%;'></div>"}
    ],
    onRender: function(event) {
      event.onComplete = function () {
        productRelationsGrid()
        recommendationsGrid()
        supplyRelationsGrid()
      }
    }
  })

  $().w2layout({
    name: 'categorizations',
    panels: [
      { type: 'main', resizable: true, title: I18n.t("js.pm.Categorization.other"),
        content: "<div id='categorizationsGrid' style='height:100%;'></div>" },
      { type: 'preview', size: '60%', resizable: true, title: I18n.t("js.pm.Category.other"),
        content: "<div id='categoryTreeToolbar' style='height:20'></div>" +
                 "<div id='categoryTree' style='height:calc(100% - 30px);'></div>"}
    ],
    onRender: function(event) {
      event.onComplete = function () {
        categorizationsGrid()
        categoryTreeToolbar()
        categoryTree()
      }
    }
  })

  w2ui.relationmanager.content('main', w2ui.relations)
  w2ui.relationmanager.content('left', w2ui.categorizations)
})