function productsGrid() {
  $('#productsgrid').w2grid({
    name: 'productsgrid',
    multiSelect : false,
    method: 'GET',
    show: { toolbar: true, footer: true },
    sortData: [{ field: 'number', direction: 'ASC' }],

    toolbar: {
      items: [
        { type: 'button', id: 'newProductrelation', img: 'fa fa-plus', disabled: true,
          caption: I18n.t('js.pm.Productrelation.one') },
        { type: 'button', id: 'newRecommendation', img: 'fa fa-plus', disabled: true,
          caption: I18n.t('js.pm.Recommendation.one') },
        { type: 'button', id: 'newSupplyrelation', img: 'fa fa-plus', disabled: true,
          caption: I18n.t('js.pm.Supplyrelation.one') },
        { type: 'break' },
        { type: 'button', id: 'removeFilter', img: 'fa fa-trash', caption: I18n.t("js.pm.Filter.delete") }
      ],
      onClick: function (target, data) {
        var selection = w2ui.productsgrid.getSelection()
        switch (target) {
        case 'newProductrelation':
          $.ajax({
            url:"/productmanager/relation_manager/create_productrelation/",
            method: "POST",
            data: {
              authenticity_token: csrf_token,
              product_id: request_id,
              related_product_id: selection[0]
            },
            dataType: 'script',
          }).done(function(response, textStatus, jqXHR) {
            w2ui.productRelationsGrid.reload()
          }).fail(function(jqXHR, textStatus, errorThrown) {
            w2alert(JSON.parse(jqXHR.responseText)['message'])
          })
        break
        case 'newRecommendation':
          $().w2popup('open', {
            title   : I18n.t('js.pm.Recommendation.one'),
            body    : '<div id="recommendationForm" style="width: 100%; height: 100%;"></div>',
            style   : 'padding: 15px 0px 0px 0px',
            width   : 500,
            height  : 300,
            showMax : true,
            onOpen: function (event) {
              event.onComplete = function () {
              w2ui.recommendationForm.record['reason_de'] = null
              w2ui.recommendationForm.record['reason_en'] = null
              w2ui.recommendationForm.record['product_id'] = request_id
              w2ui.recommendationForm.record['recommended_product_id'] = selection[0]
              $('#recommendationForm').w2render('recommendationForm');
              }
            }
          })
        break
        case 'newSupplyrelation':
          $.ajax({
            url:"/productmanager/relation_manager/create_supplyrelation/",
            method: "POST",
            data: {
              authenticity_token: csrf_token,
              product_id: request_id,
              supply_id: selection[0]
            },
            dataType: 'script',
          }).done(function(response, textStatus, jqXHR) {
            w2ui.supplyRelationsGrid.reload()
          }).fail(function(jqXHR, textStatus, errorThrown) {
            w2alert(JSON.parse(jqXHR.responseText)['message'])
          })
        break
        case 'removeFilter':
          w2ui.productsgrid.searchData = null
          w2ui.productsgrid.search()
        break
        }
      }
    },

    columns: [
      { field: 'recid', caption: I18n.t("attributes.id"), size: '50px', sortable: true, hidden: true , attr: "align=center" },
      { field: 'number', caption: I18n.t("attributes.number"), size: '150px', sortable: true },
      { field: 'title_de', caption: I18n.t("attributes.title_de"), size: '200px', sortable: true },
      { field: 'title_en', caption: I18n.t("attributes.title_en"), size: '150px', sortable: true, hidden: true },
      { field: 'state', caption: I18n.t("attributes.state"), size: '60px', sortable: true },
      { field: 'novelty', caption: I18n.t("attributes.novelty"), size: '50px', attr: "align=center",
        render: function (record) {
          return record.novelty ? '<icon class="fa fa-lg fa-check">' : '<icon class="fa fa-close">'
        }
      },
      { field: 'topseller', caption: I18n.t("attributes.topseller"), size: '50px', attr: "align=center",
        render: function (record) {
          return record.topseller ? '<icon class="fa fa-lg fa-check">' : '<icon class="fa fa-close">'
        }
      },
      { field: 'created_at', caption: I18n.t("attributes.created_at"), size: '130px', sortable: true, hidden: true,
        render: 'datetime:yyyy-mm-dd|hh24:mm:ss' },
      { field: 'updated_at', caption: I18n.t("attributes.updated_at"), size: '130px', sortable: true,
        render: 'datetime:yyyy-mm-dd|hh24:mm:ss' }
    ],

    searches: [
      { field: 'number', caption: I18n.t("attributes.number"), type: 'text' },
      { field: 'title_de', caption: I18n.t("attributes.title_de"), type: 'text' },
      { field: 'title_en', caption: I18n.t("attributes.title_en"), type: 'text' },
      { field: 'state', caption: I18n.t("attributes.state"), type: 'enum',
        options: {
          items: [
            { id: I18n.t("mercator.states.new"),        text: I18n.t("mercator.states.new")},
            { id: I18n.t("mercator.states.announced"),  text: I18n.t("mercator.states.announced")},
            { id: I18n.t("mercator.states.active"),     text: I18n.t("mercator.states.active")},
            { id: I18n.t("mercator.states.deprecated"), text: I18n.t("mercator.states.deprecated")}
          ]
        }
      }
    ],

    searchData : [{
      field : 'state', operator : 'in', type: 'enum',
      svalue: [I18n.t("mercator.states.new"), I18n.t("mercator.states.active")],
      value : [
        { id: I18n.t("mercator.states.new"), text: I18n.t("mercator.states.new") },
        { id: I18n.t("mercator.states.active"), text: I18n.t("mercator.states.active") }
      ]
    }],

    onClick: function(event) {
      event.onComplete = function () {
        var selection = this.getSelection()
        if (selection.length == 1) {
          this.toolbar.enable('newProductrelation')
          this.toolbar.enable('newRecommendation')
          this.toolbar.enable('newSupplyrelation')
        } else {
          this.toolbar.disable('newProductrelation')
          this.toolbar.disable('newRecommendation')
          this.toolbar.disable('newSupplyrelation')
        }
      }
    }
  })
}
