<p>&lt;%= @page.title %&gt;&lt;%= javascript_include_tag :defaults %&gt; &lt;%= header_files :ivellio_vellin %&gt;</p>

<div>
<div>&lt;%= render_coroporate_sidebar_navigation %&gt; &lt;%= render_template :corporate_header %&gt; &lt;%= render_corporate_navigation %&gt;
<div>
<div>
<div>
<h1>&lt;%= container :slogan %&gt;</h1>

<div>&lt;%= container :main %&gt;</div>
</div>

<div>
<div>&lt;%= container :service_links %&gt;</div>

<div>&lt;%= container :service_links2 %&gt;</div>
</div>

<p>&nbsp;</p>
</div>
</div>

<div><img src="/images/ivellio_frontend/logos/ivellio_partner.png" /> &lt;%= render_template :partner_logos %&gt;</div>
&lt;%= render_template :footer %&gt;</div>
</div>

<p>&lt;!-- begin SnapEngage code --&gt;&lt;!-- end SnapEngage code --&gt;</p>
