function categoryForm() {
  $('#categoryForm').w2form({
    name: 'categoryForm',

    formHTML:
      '<div class="w2ui-page page-0">'+
      '  <div style="float: left">'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t('attributes.name_de') + '</label>'+
      '      <div><input name="name_de" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.name_en") + '</label>'+
      '      <div><input name="name_en" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.description_de") + '</label>'+
      '      <div><input name="description_de" size=80 /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.description_en") + '</label>'+
      '      <div><input name="description_en" size=80 /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.long_description_de") + '</label>'+
      '      <div><textarea rows="4" cols="84" name="long_description_de" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.long_description_en") + '</label>'+
      '      <div><textarea rows="4" cols="84" name="long_description_en" /></div>'+
      '    </div>'+
      '  </div>'+
      '  <div style="float: right; margin-right:20px;">'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.state") + '</label>'+
      '      <div><input name="state" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.position") + '</label>'+
      '      <div><input name="position" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.filters") + '</label>'+
      '      <div><input name="filters" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.filtermin") + '</label>'+
      '      <div><input name="filtermin" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.filtermax") + '</label>'+
      '      <div><input name="filtermax" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.created_at") + '</label>'+
      '      <div><input name="created_at" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.updated_at") + '</label>'+
      '      <div><input name="updated_at" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.parent") + '</label>'+
      '      <div><input name="parent_name" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.parent") + '</label>'+
      '      <div><input name="parent_id" /></div>'+
      '    </div>'+
      '  </div>'+
      '</div>'+
      '<div class="w2ui-buttons">'+
      '   <button class="w2ui-btn w2ui-btn-green" name="save">' + I18n.t("js.pm.Category.save") +
      '   </button>'+
      '   <button class="w2ui-btn w2ui-btn-blue" name="newSub">' + I18n.t("js.pm.Category.create.sub") +
      '   </button>'+
      '   <button class="w2ui-btn w2ui-btn-blue" name="newRoot">' + I18n.t("js.pm.Category.create.root") +
      '   </button>'+
      '   <button class="w2ui-btn w2ui-btn-red" name="delete">' + I18n.t("js.pm.Category.delete") +
      '   </button>'+
      '   <button class="w2ui-btn w2ui-btn-orange" name="edit_all_fields">' + I18n.t("js.pm.Category.edit") +
      '   </button>'+
      '</div>',

    fields : [
      { name: 'name_de',             type: 'text',  required : true},
      { name: 'name_en',             type: 'text',  required : true },
      { name: 'description_de',      type: 'text' },
      { name: 'description_en',      type: 'text' },
      { name: 'long_description_de', type: 'textarea' },
      { name: 'long_description_en', type: 'textarea' },
      { name: 'state',               type: 'list', required : true,
        options: {
          items: <%= a = Category::Lifecycle.states.*[0].map {
            |state| "{id: '" + state.to_s + "', text: I18n.t('mercator.states." + state.to_s + "')}"
          }.to_s.gsub('"','') %>
        }
      },
      { name: 'position',    type: 'int' },
      { name: 'filters',     type: 'float', disabled: true },
      { name: 'filtermin',   type: 'float' },
      { name: 'filtermax',   type: 'float' },
      { name: 'created_at',  type: 'text',  disabled: true },
      { name: 'updated_at',  type: 'text',  disabled: true },
      { name: 'parent_name', type: 'text',  disabled: true },
      { name: 'parent_id',   type: 'int',   disabled: true },
    ],

    actions: {
      delete: {
        onClick: function () {
          $.ajax({
            url:"/productmanager/front/category/" + w2ui.categoryForm.recid,
            method: "DELETE",
            data: { authenticity_token: csrf_token },
            dataType: 'script',
          }).done(function(response, textStatus, jqXHR) {
            $("#categoryTree").fancytree("getTree").reload()
            w2ui.categoryForm.clear()
          }).fail(function(jqXHR, textStatus, errorThrown) {
            w2alert(jqXHR.responseText)
          })
        }
      },
      newSub: {
        onClick: function () {
          this.clear()
          var active_node = $("#categoryTree").fancytree("getTree").getActiveNode()
          if (active_node) {
            this.record.parent_id = active_node.key
            this.record.parent_name = active_node.title.split("<")[0]
            this.record.position = 0
            this.refresh()
          }
        }
      },
      newRoot: {
        onClick: function () {
          this.clear()
          this.record.position = 0
          this.refresh()
        }
      },
      save: {
        onClick: function () {
          if (!this.url) {
            this.url = w2ui.categoryForm.url = '/productmanager/front/manage_category/0'
          }
          this.save(
            function(response) {
              var tree = $("#categoryTree").fancytree("getTree")
              tree.reload().done(function() {
                tree.activateKey(response.record.recid.toString()).setExpanded()
              })
            }
          )
        }
      },
      edit_all_fields: {
        onClick: function () {
          var active_node = $("#categoryTree").fancytree("getTree").getActiveNode()
          if (!active_node == "") {
            debugger
            document.location = "/admin/categories/" + active_node.key + "/edit?product_manager=true"
          } else {
            w2alert(I18n.t("js.pm.Category.none_selected"))
            return
          }
        }
      }
    }
  })
}