$(function () {
  w2utils.locale('/assets/contentmanager/de-de.json')

  $('#grid').w2layout({
    name: 'productmanager',
    panels: [
      {
        type: 'top',
        title: '<%= I18n.t("mercator.product_manager.title") %>',
        size: 58,
        resizable: true,
        content: "Top"
      },
      {
        type: 'left',
        size: '20%',
        resizable: true,
        content: "<div id='categoryTree'></div>"
      },
      {
        type: 'main',
        resizable: true,
        content: "<div id='category' style='height: 100%'></div>" },
      {
        type: 'preview',
        size: '60%',
        resizable: true,
        content: "<div id='productsgrid' style='height: 100%'></div>" },
      {
        type: 'right',
        size: '20%',
        resizable: true,
        content: "<div id='properties' style='background-color: white; height:100%; padding: 5px'></div>" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        categoryTree()
        category()
        productsGrid()
      }
    }
  })
})
