$(function () {
  if (I18n.locale == "de") {
    w2utils.locale('<%= ActionController::Base.helpers.asset_path('contentmanager/de-de.json') %>')
  }
  w2utils.settings.groupSymbol = ""

  $('#grid').w2layout({
    name: 'productmanager',
    panels: [
      { type: 'top', size: 58, resizable: true, content: "<div id='menu'></div>",
        title: I18n.t("js.pm.title") },
      { type: 'left', size: '20%', resizable: true, title: I18n.t("attributes.product_catalog"),
        content: "<div id='categoryTree'></div>" },
      { type: 'main', resizable: true, title: I18n.t("js.pm.Category.one"),
        content: "<div id='categoryForm' style='height: 400px'></div>" },
      { type: 'preview', size: '51%', resizable: true, title: I18n.t("js.pm.Product.other"),
        content: "<div id='productsgrid' style='height: 100%'></div>" },
      { type: 'right', size: '20%', resizable: true, title: I18n.t("js.pm.Property.other"),
        content: "<div id='properties' style='background-color: white; height:100%; padding: 5px'></div>" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        categoryTree()
        categoryForm()
        productsGrid()
        menu()
      }
    }
  })
})
