/.bundle
db/schema.rb

/log/*.log
/tmp

/config/hobo_routes.rb
/config/application.yml
/config/private_pub.yml
/config/database.yml
/config/delayed_job.sh

log/*
public/assets/*
public/system/*
public/ckeditor_assets/*
app/views/taglibs/auto/*
vendor/catalogs/*
vendor/xml/*
vendor/bechlem/*

app/views/page_templates/*
materials/ivellio-vellin/*
app/assets/stylesheets/front/glypha.ttf

.gemtags