/.bundle

/log/*.log
/tmp

/config/hobo_routes.rb
/config/application.yml

log/*
public/assets/*
public/system/*
public/ckeditor_assets/*
config/hobo_routes.rb
app/views/taglibs/auto/*
app/views/page_templates/*

materials/ivellio-vellin/*
