.bundle
.gemtags

db/schema.rb

app/views/taglibs/auto/*
app/views/page_templates/*
app/assets/stylesheets/front/glypha.ttf

config/hobo_routes.rb
config/private_pub.yml
config/delayed_job.sh

log/*

materials/ivellio-vellin/*

public/assets/*
public/system/*
public/ckeditor_assets/*

tmp/*

vendor/catalogs/*
vendor/xml/*
vendor/bechlem/*
vendor/customers/*
vendor/customer