<p>
  Zur Zeit ist kein Vertriebsmitarbeiter angemeldet,<br>
  bitte benachrichtigen sie den zuständigen Mitarbeiter, er möge sich anmelden.
</p>
<hr>
<p>
  Currently no sales associate is logged in.<br/>
  Pleaso tell the person in charge to log in.
</p>