function contractForm() {
  $('#contractForm').w2form({
    name: 'contractForm',
    url: 'contracts/manage',

    formHTML:
      '<div class="w2ui-page page-0">'+
      '  <div style="float: left">'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.customer") + '</label>'+
      '      <div><input name="customer" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.customer_id") + '</label>'+
      '      <div><input name="customer_account" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.number") + '</label>'+
      '      <div><input name="contractnumber" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.startdate") + '</label>'+
      '      <div><input name="startdate" /></div>'+
      '    </div>'+
      '  </div>'+
      '</div>'+

      '<div class="w2ui-buttons">'+
      '  <button class="w2ui-btn w2ui-btn-orange" name="get_customer">Kunde zuordnen</button>'+
      '  </br></br>' +
      '   <button class="w2ui-btn w2ui-btn-green" name="save">'+
      w2utils.lang("Save") + '</button>' +
      '   <button class="w2ui-btn w2ui-btn-blue" name="new">'+
      w2utils.lang("Add New") + '</button>' +
      '   <button class="w2ui-btn w2ui-btn-red" name="delete">'+
      w2utils.lang("Delete") + '</button>' +
      '</div>',

    fields : [
      { name: 'customer',         type: 'text',  required: true, disabled: true },
      { name: 'customer_account', type: 'text', required: true, disabled: true },
      { name: 'contractnumber',   type: 'text' },
      { name: 'startdate',        type: 'date', required: true }
    ],

    actions: {
      delete: {
        onClick: function () {
          w2confirm( I18n.t("js.con.are_you_sure"), function (button) {
            if (button =='Yes') {
              $.ajax({
                url:"/contracting/contract/delete/" + w2ui.contractForm.recid,
                method: "DELETE",
                data: { authenticity_token: csrf_token },
                dataType: 'script',
              }).done(function(response, textStatus, jqXHR) {
                w2ui.contractsGrid.load('contracts')
                w2ui.contractsGrid.retresh()
                initialize_contractForm()
              }).fail(function(jqXHR, textStatus, errorThrown) {
                w2alert(jqXHR.responseText)
              })
            }
          })
        }
      },

      new: {
        onClick: function () {
          initialize_contractForm()
        }
      },

      save: {
        onClick: function () {
          selected_contract_id = this.recid
          this.save(
            function(response) {
              w2ui.contractsGrid.load('contracts')
              w2ui.contractsGrid.refresh()
            }
          )
        }
      },

      get_customer: {
        onClick: function () {
          w2popup.open({
            title: 'Kunde auswählen',
            body: '<div id="customersGrid" style="height:100%;"></div>',
            buttons : '<button class="w2ui-btn w2ui-btn-green" onclick="w2popup.close(\'+\');">OK</button> ' +
                      '<button class="w2ui-btn w2ui-btn-orange" onclick="w2popup.close(\'-\');">Abbrechen</button> ',
            width: $(window).width() * 0.9,
            height: $(window).height() * 0.9,
            onClose: function (event) {
              if (event.options[0] == "+") {
                var selection = w2ui.customersGrid.getSelection()
                if (selection.length == 1) {
                  var form = w2ui.contractForm
                  form.record['customer'] = w2ui.customersGrid.get(selection[0]).name.replace('ALL.IN.PRINT','')
                  form.record['customer_account'] = w2ui.customersGrid.get(selection[0]).account
                  form.refresh()
                }
              }
            }
          })
          mesonicUsersGrid('customersGrid', 'users/mesonic_grid_index')
        }
      }
    }
  })
}

function initialize_contractForm() {
  var form = w2ui.contractForm
  form.clear()
  form.record['startdate'] = '<%= I18n.l Date.today() %>'
  form.refresh()
}