function contractitemForm() {
  $('#contractitemForm').w2form({
    name: 'contractitemForm',
    url: 'contractitems/manage',

    formHTML:
      '<input type="hidden" name="user_id">' +
      '<input type="hidden" name="product_id">' +
      '<input type="hidden" name="contract_id">' +
      '<div class="w2ui-page page-0">'+
      '  <div style="float: left">'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t('attributes.position') + '</label>'+
      '      <div><input name="position" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.term") + '</label>'+
      '      <div><input name="term" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.startdate") + '</label>'+
      '      <div><input name="startdate" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.product") + '</label>'+
      '      <div><input name="product_number" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.title") + '</label>'+
      '      <div><input name="product_title" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.amount") + '</label>'+
      '      <div><input name="amount" /></div>'+
      '    </div>'+
      '  </div>'+

      '  <div style="float: right; margin-right:20px;">'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.marge") + '</label>'+
      '      <div><input name="marge" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.volume_bw") + '</label>'+
      '      <div><input name="volume_bw" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.volume_color") + '</label>'+
      '      <div><input name="volume_color" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.vat") + '</label>'+
      '      <div><input name="vat" /></div>'+
      '    </div>'+
      '  </div>'+
      '</div>'+

      '<div class="w2ui-buttons">'+
      '  <button class="w2ui-btn w2ui-btn-orange" name="get_customer">Kunde zuordnen</button>'+
      '  <button class="w2ui-btn w2ui-btn-orange" name="get_product">Artikel zuordnen</button>'+
      '  </br></br>' +
      '   <button class="w2ui-btn w2ui-btn-green" name="save">'+
      w2utils.lang("Save") + '</button>' +
      '   <button class="w2ui-btn w2ui-btn-blue" name="new">'+
      w2utils.lang("Add New") + '</button>' +
      '   <button class="w2ui-btn w2ui-btn-red" name="delete">'+
      w2utils.lang("Delete") + '</button>' +
      '</div>',

    fields : [
      { name: 'position',        type: 'int', required: true },
      { name: 'term',            type: 'int', required: true, options: { min: 1 } },
      { name: 'startdate',       type: 'date', required: true },
      { name: 'product_number',  type: 'text', disabled: true },
      { name: 'product_title',   type: 'text' },
      { name: 'product_id',      type: 'integer', disabled: true },
      { name: 'amount',          type: 'integer', required: true },
      { name: 'marge',           type: 'percent', required: true },
      { name: 'volume_bw',       type: 'int', required: true },
      { name: 'volume_color',    type: 'int', required: true },
      { name: 'vat',             type: 'percent', required: true },
      { name: 'contract_id',     type: 'integer', required: true, disabled: true }
    ],

    actions: {
      delete: {
        onClick: function () {
          w2confirm( I18n.t("js.con.are_you_sure"), function (button) {
            if (button =='Yes') {
              $.ajax({
                url:"/contracting/contractitem/delete/" + w2ui.contractitemForm.recid,
                method: "DELETE",
                data: { authenticity_token: csrf_token },
                dataType: 'script',
              }).done(function(response, textStatus, jqXHR) {
                w2ui.contractitemsGrid.load('contractitems/?contract_id=' + request_id)
                w2ui.contractitemsGrid.refresh()
                initialize_contractitemForm()
              }).fail(function(jqXHR, textStatus, errorThrown) {
                w2alert(jqXHR.responseText)
              })
            }
          })
        }
      },

      new: {
        onClick: function () {
          initialize_contractitemForm()
        }
      },

      save: {
        onClick: function () {
          selected_contractitem_id = this.recid
          this.save(
            function(response) {
              w2ui.contractitemsGrid.load('contractitems/?contract_id=' + request_id)
              w2ui.contractitemsGrid.refresh()
            }
          )
        }
      },

      get_product: {
        onClick: function () {
          w2popup.open({
            title: 'Artikel auswählen',
            body: '<div id="productsGrid" style="height:100%;"></div>',
            buttons : '<button class="w2ui-btn w2ui-btn-green" onclick="w2popup.close(\'+\');">OK</button> ' +
                      '<button class="w2ui-btn w2ui-btn-orange" onclick="w2popup.close(\'-\');">Abbrechen</button> ',
            width: $(window).width() * 0.9,
            height: $(window).height() * 0.9,
            onClose: function (event) {
              if (event.options[0] == "+") {
                var selection = w2ui.productsGrid.getSelection()
                if (selection.length == 1) {
                  var form = w2ui.contractitemForm
                  form.record['product_id'] = selection[0]
                  form.record['product_number'] = w2ui.productsGrid.get(selection[0]).number
                  form.record['product_title'] = w2ui.productsGrid.get(selection[0]).title_de
                  form.refresh()
                }
              }
            }
          })
          productsGrid('productsGrid', 'products/grid_index')
        }
      }
    }
  })
}

function initialize_contractitemForm() {
  var form = w2ui.contractitemForm
  form.clear()
  form.record['position'] = 0
  form.record['startdate'] = '<%= I18n.l Date.today() %>'
  form.record['term'] = 0
  form.record['amount'] = 1
  form.record['marge'] = 0
  form.record['volume_bw'] = 0
  form.record['volume_color'] = 0
  form.record['vat'] = 20
  form.record['contract_id'] = request_id
  form.refresh()
}