$(function () {
  if (I18n.locale == "de") {
    w2utils.locale('<%= asset_path('contentmanager/de-de.json') %>')
  }
  w2utils.settings.groupSymbol = " "

  $('#contracting').w2layout({
    name: 'contracting',
    panels: [
      { type: 'top', size: 450, resizable: true, title: I18n.t("js.con.Contract.one"),
        content: "<div id='menu'></div>" +
                 "<div id='contractitemsGrid' style='height:100%;'></div>" },
      { type: 'left', title: I18n.t("js.con.Contractitem.one"),
        resizable: true, size: 800, content: "<div id='contractitemForm' style='height:100%;'></div>" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        contractitemsGrid()
        menu()
        contractitemForm()
      }
    }
  })
})