function assignmentsgrid() {
  $('#assignments').w2grid({
    name: 'assignments',
    method: 'GET',
    columns: [
      { field: 'used_as', caption: '<%= I18n.t("attributes.used_as") %>', size: '50%', sortable: true },
      { field: 'content_element_name', caption: '<%= I18n.t("attributes.content_element") %>', size: '50%',
        render: function (record) {
          return '<div id="assignment-' + record.recid + '" class="droppable">' +
                  (record.content_element_name || '<span style="color: #ff0000"> <%= I18n.t("mercator.not_assigned") %></span>') + '</div>'
      }}
    ],
    sortData: [ { field: 'used_as', direction: 'ASC' } ],

    onRefresh: function(event) {
      event.onComplete = function () {
        $( ".droppable" ).droppable({
          activeClass: "ui-state-default",
          hoverClass: "ui-state-hover",

          drop: function( event, ui ) {
            var draggable = ui.draggable[0]
            var contentElementId = parseInt(draggable.id.split("-")[2])
            var associationID = parseInt(this.id.split("-")[1])

            w2ui['contentmanager'].lock('preview', w2utils.lang('Refreshing...'), true)
            $.ajax({
              url:"/contentmanager/front/update_page_content_element_assignment/" + associationID,
              method: "POST",
              data: { authenticity_token: csrf_token, content_element_id: contentElementId },
              dataType: 'script',
            }).done(function(response, textStatus, jqXHR) {
              w2ui['assignments'].load('/contentmanager/front/show_assignments/' + response)
              w2ui['contentmanager'].unlock('preview')
            }).fail(function(jqXHR, textStatus, errorThrown) {
              w2alert(jqXHR.responseText)
              w2ui['contentmanager'].unlock('preview')
            })
          }
        })
      }
    }
  })
}