$(function () {
  if (I18n.locale == "de") {
    w2utils.locale('<%= ActionController::Base.helpers.asset_path('contentmanager/de-de.json') %>')
  }
  w2utils.settings.groupSymbol = " "

  $('#contentmanager').w2layout({
    name: 'contentmanager',
    panels: [
      { type: 'top', size: 59, resizable: true, title: I18n.t("js.cm.title"),
        content: "<div id='menu'></div>" },
      { type: 'left', size: '13%', resizable: true, title: I18n.t("js.cm.website_structure"),
        content: "<div id='webpageTreeToolbar' style='height:20'></div>"+
                 "<div id='webpageTree' style='height:calc(100% - 30px);'></div>" },
      { type: 'main', title: I18n.t("js.cm.WebPage.one"),
        resizable: true, content: "<div id='webpageForm' style='height:100%;'></div>" },
      { type: 'preview', size: '53%', resizable: true,
        title: I18n.t("js.cm.PageContentElementAssignment.other"),
        content: "<div id='assignments' style='height:100%'></div>" },
      { type: 'right', size: '67%', resizable: true},
      { type: 'bottom', title: I18n.t("js.cm.image_gallery"), size: 150, resizable: true,
        content: "<div id='gallery'></div>" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        webpageTreeToolbar()
        webpageTree()
        webpageForm()
        assignmentsgrid()
        menu()
      }
    }
  })

  $().w2layout({
    name: 'elementexplorer',
    panels: [
      { type: 'main', resizable: true,
        title: I18n.t("js.cm.folder_structure"),
        content: "<div id='foldertreetoolbar' style='height:20'></div>"+
                 "<div id='foldertree' style='height:calc(100% - 30px);'></div>"},
      { type: 'right', resizable: true,
        title: I18n.t("js.cm.ContentElement.other"),
        size: '85%', content: "<div id='contentelementsgrid' style='height:100%'></div>"},
      { type: 'preview', resizable: true, title: I18n.t("js.cm.image_preview"),
        size: '30%', content: "<div id='preview'></div>"}
    ],
    onRender: function(event) {
      event.onComplete = function () {
        foldertreeToolbar()
        foldertree()
        folderForm()
        contentelementsgrid()
        contentElementForm()
      }
    }
  })

  w2ui.contentmanager.content('right', w2ui['elementexplorer'])
})