$(function () {
  w2utils.locale('/assets/contentmanager/de-de.json')

  $('#contentmanager').w2layout({
    name: 'contentmanager',
    panels: [
      { type: 'top',     title: 'Content Manager',   size: 60,   resizable: true },
      { type: 'left',    title: 'Website Structure', size: 250,  resizable: true, content: "<div id='pagetree'></div>" },
      { type: 'main',    title: 'Webpage',                       resizable: true, content: "<div id='webpage' style='height:100%;'></div>" },
      { type: 'preview', title: 'Assignments',       size: 400,  resizable: true, content: "<div id='assignments' style='height:100%' ></div>" },
      { type: 'right',                               size: 1300, resizable: true},
      { type: 'bottom',  title: 'Image Gallery',     size: 150,  resizable: true, content: "<div id='gallery'></div>" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        webpageTree()
        webpage()
        assignmentsgrid()
      }
    }
  })

  $().w2layout({
    name: 'elementexplorer',
    panels: [
      { type: 'main',    resizable: true, title: 'Folder Structure',
        content: "<div id='foldertree-toolbar' style='height:5%'></div><div id='foldertree' style='height:95%'></div>" },
      { type: 'right',   resizable: true, title: 'Content Elements', size: 1100,
        content: "<div id='contentelementsgrid' style='height:100%'></div>" },
      { type: 'preview', resizable: true, title: 'Preview',          size: 200,
        content: "<div id='preview'></div>" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        foldertreeToolbar()
        foldertree()
        folderForm()
        contentelementsgrid()
      }
    }
  })

  w2ui['contentmanager'].content('right', w2ui['elementexplorer'])
})