function previewImage(recid) {
  var thumbpath = w2ui['contentelementsgrid'].get(recid).thumb_url

  if (thumbpath) {
    $("#preview").html("<img src=" + thumbpath + " class='preview' id='preview" + recid + "'>")
    $(".preview").click( function() {
      var fullpath = w2ui['contentelementsgrid'].get(recid).photo_url
      w2popup.open({
        title: I18n.t("js.cm.image_preview"),
        width: '1024',
        height: '750',
        body: "<div class='preview-container'><img src=" + fullpath + " class='preview'></div>"
      })
    })
  } else {
    $("#preview").html("")
  }
}