function webpageForm() {
  $('#webpageForm').w2form({
    name: 'webpageForm',
    url: 'contentmanager/front/manage_webpage/0',

formHTML:
      '<div class="w2ui-page page-0">'+
      '  <div style="float: left">'+
      '    <input name="title_de" placeholder="' + I18n.t('attributes.title_de') + '" maxlength="255"/><br/><br/>' +
      '    <input name="title_en" placeholder="' + I18n.t('attributes.title_en') + '" maxlength="255"/><br/><br/>'+
      '    <input name="state" placeholder="' + I18n.t('attributes.state') + '"/><br/><br/>' +
      '    <input name="url" placeholder="Url" maxlength="255"/><br/><br/>'+
      '    <input name="slug" placeholder="Slug" maxlength="255"/><br/><br/>'+
      '    <input name="seo_description" placeholder="' + I18n.t('attributes.seo_description') + '" maxlength="255"/><br/><br/>'+
      '    <input name="position" placeholder="' + I18n.t('attributes.position') + '" maxlength="255"/><br/><br/>'+
      '    <input name="page_template_id" placeholder="' + I18n.t('attributes.page_template') + '" maxlength="255"/><br/><br/>'+
      '  </div>'+
      '</div>'+
      '<div class="w2ui-buttons">'+
      '   <button class="w2ui-btn w2ui-btn-green" name="save">' + w2utils.lang('Save') +
      '   </button>' +
      '   <button class="w2ui-btn w2ui-btn-red" name="delete">' + w2utils.lang('Delete') +
      '   </button></br></br>' +
      '   <button class="w2ui-btn w2ui-btn-blue" name="create">' + w2utils.lang('Add New') +
      '   </button>' +
      '</div>',

    fields : [
      { name: 'title_de', type: 'text', required: true,
        html: { caption: I18n.t("attributes.title_de") } },
      { name: 'title_en', type: 'text',
        html: { caption: I18n.t("attributes.title_en") } },
      { name: 'state', type: 'list', required : true,
        options: {
          items: <%= a = Webpage::Lifecycle.states.*[0].map {
            |state| "{id: '" + state.to_s + "', text: I18n.t('mercator.states." + state.to_s + "')}"
          }.to_s.gsub('"','') %>
        },
      },
      { name: 'url', type: 'text',
        html: { caption: 'URL' } },
      { name: 'slug', type: 'text',
        html: { caption: 'Slug' } },
      { name: 'seo_description', type: 'text',
        html: { caption: I18n.t("attributes.seo_description") } },
      { name: 'position', type: 'int', required: true,
        html: { caption: I18n.t("attributes.position") } },
      { name: 'page_template_id', type: 'list', required: true, options: { items: pagetemplates },
        html: { caption: I18n.t("attributes.page_template") } }
    ],

    actions: {
      save: {
        caption: 'Save',
        class: 'w2ui-btn-green',
        onClick: function () {
          this.save(function(response) {
            new_id = response.record.recid.toString()
            w2ui.assignments.url = '/contentmanager/front/show_assignments/' + new_id
            w2ui.assignments.reload()
            var tree = $("#webpageTree").fancytree("getTree")
            tree.reload().done(function() {
              tree.activateKey(new_id).setExpanded()
            })
          })
        }
      },
      delete: {
        caption: 'Delete',
        class: 'w2ui-btn-red',
        onClick: function () {
          var active_node = $("#webpageTree").fancytree("getTree").getActiveNode()
          w2confirm(I18n.t("js.cm.are_you_sure"), function (button) {
            if (button =='Yes') {
              $.ajax({
                url:"/admin/webpages/" + active_node.key,
                method: "DELETE",
                data: { authenticity_token: csrf_token },
                dataType: 'script',
              }).done(function(response, textStatus, jqXHR) {
                $("#webpageTree").fancytree("getTree").reload()
                w2ui.webpageForm.clear()
                w2ui.webpageForm.refresh()
                $("#webpageTree").fancytree("getTree").reload()
              }).fail(function(jqXHR, textStatus, errorThrown) {
                w2alert(jqXHR.responseText)
              })
            }
          })
        }
      },
      create: {
        caption: 'Add New',
        class: 'w2ui-btn-orange',
        onClick: function () {
          var active_node = $("#webpageTree").fancytree("getTree").getActiveNode()
          this.clear()
          this.record['position'] = 0
          if (active_node) {
            this.record['parent_id'] = active_node.key
          }
          this.refresh()
        }
      }
    },
    postData: { authenticity_token: csrf_token }
  })
}