.w2ui-panel-content>.ui-draggable-handle, .fancytree-container { height: 100%; }
.draggable { background-color: #DEFCE1;
             border: 1px dotted #74BAB6;
             border-radius: 3px; }
.ui-draggable-dragging { padding: 3px;
                         font-size: 11px;
                         min-width: 150px; }
.ui-state-default { background-color: #FFE6B3;
                    color: #000000; }
.ui-state-hover { background-color: #FFAB00;
                  color: #ffffff; }

#foldertree.ui-state-default span.fancytree-title { background-color: #FFE6B3;
                                                    color: #000000; }

.w2ui-reset, .w2ui-reset table, ul.fancytree-container { font-family: Ubuntu;
                                                         font-size: 12px; }