# filename: mercator.god
RAILS_ROOT = '/var/rails/mercator-production'
God.watch do |w|
  w.name = 'mercator'
  w.dir = RAILS_ROOT
  w.start = "cd #{RAILS_ROOT} && RAILS_ENV=production bundle exec ./bin/delayed_job -n 3 start"
  w.stop = "cd #{RAILS_ROOT} && RAILS_ENV=production bundle exec ./bin/delayed_job stop"
  w.restart = "cd #{RAILS_ROOT} && RAILS_ENV=production bundle exec ./bin/delayed_job -n 3 restart"
  w.log = "#{RAILS_ROOT}/log/god_delayed_job.log"
  w.pid_file = File.join(RAILS_ROOT, "log/delayed_job.total.pid")
  # you should NEVER use this config settings:
  # w.keepalive   (always comment it out! )
end