$(function () {
  if (I18n.locale == "de") {
    w2utils.locale('<%= asset_path('contentmanager/de-de.json') %>')
  }
  w2utils.settings.groupSymbol = " "

  $('#grid').w2layout({
    name: 'propertymanager',
    panels: [
      { type: 'top', size: 58, resizable: true, content: "<div id='menu'></div>",
        title: I18n.t("js.pm.property_manager.title") + ': &nbsp;  <b>' + product_number + '</b> &nbsp; ' + product_title },
      { type: 'left', size: '20%', resizable: true },
      { type: 'main', resizable: true, title: I18n.t("js.pm.Value.other"),
        content: "<div id='valueTree' style='height: 100%'></div>" },
      { type: 'preview', resizable: true, size: '339', title: I18n.t("js.pm.Value.one"),
        content: "<div id='valueForm' style='height: 310px'></div>" },
      { type: 'right', size: '35%', resizable: true }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        valueTree()
        valueForm()
        menu()
      }
    }
  })

  $().w2layout({
    name: 'propertylists',
    panels: [
      { type: 'left', size: '50%', resizable: true, title: I18n.t("js.pm.PropertyGroup.other"),
        content: "<div id='propertyGroupsGrid' style='height:100%;'></div>" },
      { type: 'main', resizable: true,
        title: I18n.t("js.pm.Property.other"),
        content: "<div id='propertiesGrid' style='height:100%;'></div>" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        propertyGroupsGrid()
        w2ui.propertyGroupsGrid.load('/productmanager/property_manager/show_property_groups')
        propertiesGrid()
        w2ui.propertiesGrid.load('/productmanager/property_manager/show_properties')
      }
    }
  })

  $().w2layout({
    name: 'attrsAndFeatures',
    panels: [
      { type: 'main', resizable: true, title: I18n.t("js.pm.Product.other"),
        content: "<div id='productGrid' style='height: 100%'></div>" },
      { type: 'preview', size: '55%', resizable: true, title: I18n.t("js.pm.Feature.other"),
        content: "<div id='featuresGrid' style='height: 100%'></div>" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        productGrid()
        w2ui.productGrid.load('/productmanager/property_manager/index/' + request_id)
        featuresGrid()
        featureForm()
      }
    }
  })

  w2ui.propertymanager.content('right', w2ui['propertylists'])
  w2ui.propertymanager.content('left', w2ui['attrsAndFeatures'])
})