function valueForm() {
  $('#valueForm').w2form({
    name: 'valueForm',
    url: '/productmanager/property_manager/manage_value/0',

    formHTML:
      '<div class="w2ui-page page-0">'+
      '  <div style="float: left">'+
      '    <div class="w2ui-field">'+
      '      <label>Type</label>'+
      '      <div><input name="state" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.title_de") + '</label>'+
      '      <div><input name="title_de" maxlength="255" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.title_en") + '</label>'+
      '      <div><input name="title_en" maxlength="255" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.amount") + '</label>'+
      '      <div><input name="amount" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.unit_de") + '</label>'+
      '      <div><input name="unit_de" maxlength="255" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.unit_en") + '</label>'+
      '      <div><input name="unit_en" maxlength="255" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("js.pm.true_false") + '</label>'+
      '      <div><input type="checkbox" name="flag" /></div>'+
      '    </div>'+
      '  </div>'+
      '  <div style="float: right; margin-right:20px;">'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.created_at") + '</label>'+
      '      <div><input name="created_at" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.updated_at") + '</label>'+
      '      <div><input name="updated_at" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("js.pm.Product.one") + '</label>'+
      '      <div><input name="product_id" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("js.pm.PropertyGroup.one") + '</label>'+
      '      <div><input name="property_group" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("js.pm.Property.one") + '</label>'+
      '      <div><input name="property" /></div>'+
      '    </div>'+
      '  </div>'+
      '</div>'+
      '<div class="w2ui-buttons">'+
      '   <button class="w2ui-btn w2ui-btn-red" name="delete">'+ I18n.t("js.pm.Value.delete") + '</button>'+
      '   <button class="w2ui-btn w2ui-btn-green" name="save">'+ I18n.t("js.pm.Value.save") + '</button>'+
      '   <button class="w2ui-btn w2ui-btn-orange" name="create">'+ I18n.t("js.pm.Value.create") + '</button>'+
      '</div>',
    fields : [
      { name: 'state', type: 'list', required : true,
        options: {
          items: [
            { id: 'textual', text: I18n.t("js.pm.Property.datatypes.textual") },
            { id: 'numeric', text: I18n.t("js.pm.Property.datatypes.numeric") },
            { id: 'flag',    text: I18n.t("js.pm.Property.datatypes.flag") }
          ]
        }
      },
      { name: 'title_de',          type: 'text' },
      { name: 'title_en',          type: 'text' },
      { name: 'amount',            type: 'float' },
      { name: 'unit_de',           type: 'text' },
      { name: 'unit_en',           type: 'text' },
      { name: 'flag',              type: 'checkbox' },
      { name: 'created_at',        type: 'text', disabled: true },
      { name: 'updated_at',        type: 'text', disabled: true },
      { name: 'product_id',        type: 'int',  disabled: true },
      { name: 'property_group',    type: 'text',  disabled: true },
      { name: 'property_group_id', type: 'int',  disabled: true },
      { name: 'property',          type: 'text',  disabled: true },
      { name: 'property_id',       type: 'int',  disabled: true }
    ],
    onChange: function(event) {
      event.onComplete = function () {
        var the_state = w2ui.valueForm.record['state'].id
        updateFieldVisibility(the_state)
      }
    },
    onLoad: function(event) {
      event.onComplete = function () {
        var the_state = w2ui.valueForm.record['state']
        updateFieldVisibility(the_state)
      }
    },
    actions: {
      save: {
        caption: 'Save',
        class: 'w2ui-btn-green',
        onClick: function () {
          var tree = $("#valueTree").fancytree("getTree")
          var active_node = tree.getActiveNode()
          if (active_node) {
            selected_value = active_node.key // will be used for setting active node after reload
          }
          this.save( function() {
            tree.reload()
          })
        }
      },
      delete: {
        onClick: function () {
          var form = this
          var tree =  $("#valueTree").fancytree("getTree")
          var activeNode = tree.getActiveNode()
          var propertyGroup = activeNode.parent

          $.ajax({
            url:"/productmanager/property_manager/value/" + activeNode.key,
            method: "DELETE",
            data: { authenticity_token: csrf_token },
            dataType: 'script',
          }).done(function(response, textStatus, jqXHR) {
            form.clear()
            tree.reload().done(function() {
              tree.activateKey(propertyGroup.key).setExpanded()
            })
          }).fail(function(jqXHR, textStatus, errorThrown) {
            w2alert(jqXHR.responseText)
          })
        }
      },
      create: {
        onClick: function () {
          w2ui.valueForm.clear()

          w2ui.valueForm.record['product_id'] = parseInt(request_id)

          var propertyGroupId = w2ui.propertyGroupsGrid.getSelection()[0]
          if (propertyGroupId) {
            w2ui.valueForm.record['property_group_id'] = parseInt(propertyGroupId)
            w2ui.valueForm.record['property_group'] = w2ui.propertyGroupsGrid.get(propertyGroupId).name
          } else {
            w2alert(I18n.t("js.pm.PropertyGroup.none_selected"))
            return
          }

          var propertyId = w2ui.propertiesGrid.getSelection()[0]
          if (propertyId) {
            w2ui.valueForm.record['property_id'] = parseInt(propertyId)
            w2ui.valueForm.record['property'] = w2ui.propertiesGrid.get(propertyId).name
            var state = w2ui.propertiesGrid.get(propertyId).datatype
            w2ui.valueForm.record['state'] = state
            updateFieldVisibility(state)
          } else {
            w2alert(I18n.t("js.pm.Property.none_selected"))
            return
          }
        }
      }
    }
  })
}

function updateFieldVisibility(the_state) {
  switch (the_state) {
    case 'numeric':
      $.each(['flag', 'title_de', 'title_en'], function( index, field ) {
        w2ui.valueForm.set(field, {disabled: true})
        w2ui.valueForm.record[field] = null
      })
      $.each(['amount', 'unit_de', 'unit_en'], function( index, field ) {
        w2ui.valueForm.set(field, {disabled: false})
      })
    break
    case 'textual':
      $.each(['flag', 'amount' ], function( index, field ) {
        w2ui.valueForm.set(field, {disabled: true})
        w2ui.valueForm.record[field] = null
      })
      $.each(['title_de', 'title_en', 'unit_de', 'unit_en'], function( index, field ) {
        w2ui.valueForm.set(field, {disabled: false})
      })
    break
    case 'flag':
      w2ui.valueForm.set('flag', {disabled: false})
      $.each(['amount','title_de', 'title_en', 'unit_de', 'unit_en'], function( index, field ) {
        w2ui.valueForm.set(field, {disabled: true})
        w2ui.valueForm.record[field] = null
      })
    break
  }
  w2ui.valueForm.refresh()
}
