<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th colspan=13>
      </th>
      <th colspan=6>Verbrauch Jahr (Stk.)</th>
      <th colspan=5>Neuberechnung Jahr (EUR)</th>
      <th colspan=6>Gutschrift / Nachzahlung Jahr (EUR)</th>
    </tr>
    <tr>
      <th>Position</th>
      <th>Vertragsart</th>
      <th>Artikelnummer</th>
      <th>Produktlinie</th>
      <th>Beschreibung</th>
      <th>Beschreibung (EN)</th>
      <th>Menge Gesamt (Stk.)</th>
      <th>Reichweite (Seiten)</th>
      <th>HEK (EUR)</th>
      <th>Preis / Stück (EUR)</th>
      <th>Preis / Total (EUR)</th>
      <th>Rate p.m. (EUR)</th>
      <th>Laufzeit (Monate)</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
  </thead>
  <tbody>
    {{#each consumableitem in controller}}
      {{consumableitem-line item=consumableitem}}
    {{/each}}
  </tbody>
</table>

<br/>
<button class="btn btn-success" {{action "createConsumable"}}>
  <span class="glyphicon glyphicon-plus" /> neuer Verbrauch
</button>
<br/>&nbsp;