.w2ui-reset, .w2ui-reset table, ul.fancytree-container , div.w2ui-panel-title
  { font-family: Ubuntu ; font-size: 12px }

html { height: 100% }
body { height: 98% }

.w2ui-toolbar table.w2ui-button .w2ui-tb-image.w2ui-icon.fa { margin-top: 8px !important; }

.hidden {display: none; }