/*
 * This is the stylesheet manifest file for the front subsite (which
 * is your whole application if you don't have any subsites).  Files
 * or plugins referenced from here or placed in the front/ directory
 * will be included.
 *
 *= require application
 *= require hobo_rapid
 *= require hobo_jquery

 *= require hobo_bootstrap
 *= require hobo_jquery_ui
 *= require hobo_bootstrap_ui
 *= require jquery-ui/redmond
 *= require hobo_data_tables
 *= require_self
*/

body, input, button, select, textarea { font-family: 'Ubuntu', sans-serif; font-size: 12px; line-height: 17px;}
brand, h1, h2, h3, h4, h5, h6 { font-family: 'PT Sans Narrow', sans-serif; }

// Making all fonts smaller
h1 { font-size: 26px; line-height: 32px; }
h2 { font-size: 22px; line-height: 30px; }
h3 { font-size: 17px; line-height: 25px; }
h4 { font-size: 13px; line-height: 17px; }
h5 { font-size: 11px; line-height: 17px; }
h6 { font-size: 10px; line-height: 17px; }

h1 small { font-size: 16px; }
h2 small { font-size: 16px; }
h3 small { font-size: 13px; }
h4 small { font-size: 11px; }