<!DOCTYPE html>
<html>
  <head>
    <title><app-name/>Mercator Bechlem</title>
    <%= stylesheet_link_tag    "mercator_bechlem/application", media: "all" %>
    <%= javascript_include_tag "mercator_bechlem/application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>