function inventoryForm() {
  $('#inventoryForm').w2form({
    name: 'inventoryForm',
    url: '/productmanager/price_manager/manage_inventory',

    formHTML:
      '<div class="w2ui-page page-0">'+
      '  <div style="float: left">'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.name_de") + '</label>'+
      '      <div><input name="name_de" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.name_en") + '</label>'+
      '      <div><input name="name_en" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.comment_de") + '</label>'+
      '      <div><input name="comment_de" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.comment_en") + '</label>'+
      '      <div><input name="comment_en" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.number") + '</label>'+
      '      <div><input name="number" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.alternative_number") + '</label>'+
      '      <div><input name="alternative_number" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.infinite") + '</label>'+
      '      <div><input name="infinite" type="checkbox"/></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.amount") + '</label>'+
      '      <div><input name="amount" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.unit") + '</label>'+
      '      <div><input name="unit" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.weight") + '</label>'+
      '      <div><input name="weight" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.size") + '</label>'+
      '      <div><input name="size" /></div>'+
      '    </div>'+
      '  </div>'+
      '  <div style="float: right; margin-right:20px;">'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.charge") + '</label>'+
      '      <div><input name="charge" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.storage") + '</label>'+
      '      <div><input name="storage" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.delivery_time") + '</label>'+
      '      <div><input name="delivery_time" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.created_at") + '</label>'+
      '      <div><input name="created_at" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("attributes.updated_at") + '</label>'+
      '      <div><input name="updated_at" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>ERP ' + I18n.t("attributes.updated_at") + '</label>'+
      '      <div><input name="erp_updated_at" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>ERP ' + I18n.t("attributes.vat") + '</label>'+
      '      <div><input name="erp_vatline" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>ERP ' + I18n.t("attributes.category") + '</label>'+
      '      <div><input name="erp_article_group" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>ERP ' + I18n.t("attributes.provision_code") + '</label>'+
      '      <div><input name="erp_provision_code" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>ERP Flag</label>'+
      '      <div><input name="erp_characteristic_flag" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label>' + I18n.t("js.pm.Product.one") + '</label>'+
      '      <div><input name="product_id" /></div>'+
      '    </div>'+
      '  </div>'+
      '</div>'+
      '<div class="w2ui-buttons">'+
      '   <button class="w2ui-btn w2ui-btn-green" name="save">'+ w2utils.lang("Save") + '</button>'+
      '   <button class="w2ui-btn w2ui-btn-red" name="delete">'+ w2utils.lang("Delete") + '</button>'+
      '   <button class="w2ui-btn w2ui-btn-orange" name="create">'+ w2utils.lang("Add New") + '</button>'+
      '</div>',

    fields : [
      { name: 'name_de', type: 'text', required : true},
      { name: 'name_en', type: 'text' },
      { name: 'comment_de', type: 'text' },
      { name: 'comment_en', type: 'text' },
      { name: 'number', type: 'text', required : true },
      { name: 'alternative_number', type: 'text' },
      { name: 'infinite', type: 'checkbox'},
      { name: 'amount', type: 'float', required : true },
      { name: 'unit', type: 'text', required : true },
      { name: 'weight', type: 'float' },
      { name: 'size', type: 'text' },
      { name: 'charge', type: 'text' },
      { name: 'storage', type: 'text' },
      { name: 'delivery_time', type: 'list', required : true,
        options: { items: [ <% Constant.find_by(key: 'delivery_times_de').value.split(',').each do |option| %>
                              { id: '<%= option %>', text: '<%= option %>'},
                            <% end %> ] } },
      { name: 'created_at', type: 'text', disabled: true },
      { name: 'updated_at', type: 'text', disabled: true },
      { name: 'erp_updated_at', type: 'text', disabled: true },
      { name: 'erp_vatline', type: 'text', disabled: true },
      { name: 'erp_article_group', type: 'text', disabled: true },
      { name: 'erp_provision_code', type: 'text', disabled: true },
      { name: 'erp_characteristic_flag', type: 'text', disabled: true },
      { name: 'product_id', type: 'int', disabled: true }
    ],

    actions: {
      save: {
        caption: 'Save',
        class: 'w2ui-btn-green',
        onClick: function () {
          this.save( function(response) {
            w2ui.inventoriesGrid.reload(function() {
              show_inventory_details(response.record.recid)
            })
          })
        }
      },
      delete: {
        caption: 'Delete',
        class: 'w2ui-btn-red',
        onClick: function () {
          $.ajax({
            url:"/productmanager/price_manager/inventory/" + w2ui.inventoryForm.recid,
            method: "DELETE",
            data: { authenticity_token: csrf_token },
            dataType: 'script',
          }).done(function(response, textStatus, jqXHR) {
            w2ui.inventoryForm.clear()
            w2ui.inventoriesGrid.reload()
          }).fail(function(jqXHR, textStatus, errorThrown) {
            w2alert(jqXHR.responseText)
          })
        }
      },
      create: {
        caption: 'Add New',
        class: 'w2ui-btn-orange',
        onClick: function () {
          this.clear()
          this.record['product_id'] = request_id
          this.record['name_de'] = w2ui.productForm.record['title_de']
          this.record['name_en'] = w2ui.productForm.record['title_en']
          this.record['number'] = w2ui.productForm.record['number']
          this.refresh()
        }
      }
    }
  })
}
