<div class="pull-right">
  <button class="btn btn-success btn-xs" {{action "createContractitem"}}>
    <span class="glyphicon glyphicon-plus" /> neue Position
  </button>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Position</th>
      <th>Laufzeit (Monate)</th>
      <th>Vertrags&shy;beginn</th>
      <th>Vertrags&shy;ende</th>
      <th>Artikel&shy;nummer</th>
      <th>Beschrei&shy;bung</th>
      <th>Beschrei&shy;bung (EN)</th>
      <th>Menge (Einheit)</th>
      <th>Marge (%)</th>
      <th>Druck&shy;volumen S/W (Seiten)</th>
      <th>Druck&shy;volumen Farbe (Seiten)</th>
      <th>Produkt&shy;preis (EUR)</th>
      <th>Monats&shy;betrag (EUR)</th>
      <th>Monitoring (EUR)</th>
      <th>Rabatt absolut (EUR)</th>
      <th>Positions&shy;wert excl. (EUR)</th>
      <th>Mehrwert&shy;steuer</th>
      <th>Positions&shy;wert incl.(EUR)</th>
      <th>Position angelegt</th>
      <th>Position zuletzt aktuali&shy;siert</th>
    </tr>
  </thead>
  <tbody>
    {{#each contractitem in controller}}
      {{contractitem-line item=contractitem}}
    {{/each}}
  </tbody>
  </thead>
</table>